body{
	background-color: black;
	color: white;
	font-family: 'Montserrat', 'Century Gothic', sans-serif;
}

.titleFont
{
	font-family: 'Major Mono Display', monospace;
}

h1
{
	font-size: 3.5em;
}

#titleText
{
	text-align: center;
	background-color:rgba(0,0,0,0.5);
	box-sizing: border-box;
	position: absolute;
	top: 0;
	height:auto;
	left: 1;
	width:auto;
	z-index: 1;
}

#master
{
	min-height: 400vh;
}

#sidething
{
	min-height: 400vh;
	color: black;
	border-right: 1px solid white;
}

#partition
{
	height:105vh;
	width: 75%;
}

#geddanicon
{
	font-size: 4.5em;
	margin-top: 2%;
	margin-bottom: 0%;
	padding: none;
}

.video-container 
{
  top: 0;
  bottom: 0;
  width: 100%;
  height: 85vh; 
  overflow: hidden;
}

#video
{
	overflow: hidden;
	display: flex;
	/*position: absolute;*/
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	/*top: 25%;
	left: 25%;
	transform: translate(-50%,-50%);*/
	z-index: -50;
}

#hookvideo
{
	overflow: hidden;
	height: 85vh;
}

h2
{
	font-size: 1.2em;
	margin-top: 0;
}

#headerGroupes
{
	min-height:10vh;
	font-size: 2em;
}

#heyfautscroll
{
	text-align: center;
	height: 15vh;
}

.sectionBorder
{
	border-top: 5px solid white;
}

#Xplication
{
	min-height: 100vh;
	background-image: url("./img/image2.jpg");
	background-opacity:0.2;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: justify;
}

#Groupes
{
	min-height: 100vh;
	background-image: url("./img/image5.jpg");
	opacity:0.2;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.material-icons
{
	font-size:2.7em;
}

#LiensGroupes
{
	min-height:90vh;
	margin-top: 10vh;
	padding: auto;
}

#sampleLien
{
	background-image: url("./img/imageSampleCrop.jpg");
}

#FlammartLien
{
	background-image: url("./img/imageFlammartCrop.jpg");
}

#StazeLien
{
	background-image: url("http://placekitten.com/500/500");
}

#ExMachinaLien
{
	background-image: url("./img/imageXMachinaCrop.jpg");
}

.liencool
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	margin: 5px 5px 5px 5px;
	height: auto;
}

.imageborder
{
	border: 3px solid black;
	border-radius: 5px;
}

.liencool p
{
	opacity:1;
	color: white;
	text-align: center;
	font-size: 2.3em;
}

#info
{
	min-height: 100vh;
	background-image: url("./img/image1.jpg");
	background-opacity:0.2;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	font-size: 1.5em;
}

.opacitéDemie
{
	border: 2px solid black;
	background-color: rgba(0,0,0,0.5);
}

/* DEUXIEME PAGE PRESENTATION GROUPES */

nav
{
	position: fixed;
    width: 100%;
    z-index:99;
    height: 10vh;
    background: black;
}

.GroupeXpli
{
	border-bottom: 5px solid white;
}

#Sample
{
	background-image: url("./img/image6.jpg");
	min-height: 100vh;
}

#Flamaart
{
	background-image: url("./img/image2.jpg");
	min-height: 100vh;
}

#Staze
{
	background-image: url("./img/image5.jpg");
	min-height: 100vh;
}

#XMachina
{
	background-image: url("./img/image7.jpg");
	min-height: 100vh;
}

#GroupMaster
{
	position:relative;
	top: 10vh;
	min-height: 400vh;
}

.txtGroupes
{
	text-align: justify;
}
/*Smaller fonts for phones*/
@media only screen and (max-width: 600px) 
{
	.navbarLien
	{
		font-size: 0.8em;
	}
	#titleText
	{
		font-size: 2.8em;
	}
}
