body{
	background-color: black;
	color: white;
}

h1
{
	font-size: 3.5em;
}

#master
{
	height: 400vh;
}

#sidething
{
	height: 400vh;
	background-color: white;
	color: black;
}

#geddanicon
{
	font-weight: 3em;
	margin-top: 2%;
	margin-bottom: 0%;
	padding: none
}

#hookvideo
{
	background-image: url("https://placekitten.com/1900/800");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 85vh;
}

h2
{
	font-size: 1.2em;
	margin-top: 0;
}

#headerGroupes
{
	min-height:10vh;
	font-size: 2em;
}

#heyfautscroll
{
	text-align: center;
	height: 15vh;
}

#Xplication
{
	background-color: #FF0000;
	min-height: 100vh;
}

#Groupes
{	
	background-color: #00FF00;
	min-height: 100vh;
}

.material-icons
{
	font-size:3em;
}

#LiensGroupes
{
	min-height:90vh;
	margin-top: 10vh;
	padding: auto;
}

.liencool
{
	background-image: url("https://placekitten.com/500/500");
	background-repeat: no-repeat;
	background-position: center;
	background-size: coVER;
	text-align: center;
	margin: 5px 5px 5px 5px;
}

.imageborder
{
	border: 3px solid black;
	border-radius: 5px;
}

.liencool p
{
	color: white;
	text-align: center;
	font-size: 2.8em;
}

#info
{
	background-color: #0000FF;
	min-height: 100vh;
}
